#!/bin/bash
#Author: Blue-Bag
#(c) Copyright: Blue-Bag 2011
#Version 2.1
#Original date: 2011-02-23
#This date: 2013-02-01
#makes a backup of sites listed in a backup config file

TIME=$(date +"%R")
DATE=`date +'%Y-%m-%d'`
DATE2=`date  --date='1 month ago' '+%b-%d'`
BACKUPDIR="{{ site_files_backup_dir }}"
#SRCFOLDER="/var/www"

VERBOSITY=0

EXFILE="sitebackupexclude.txt"
SCRIPTFOLDER="{{ site_files_backup_scripts_folder }}"
CFG_FILE="$SCRIPTFOLDER/sites-to-backup.txt"
PUSHFILE="pushsitebackupoffsite.txt"
SITESROOT={{ site_files_backup_webroot }}
LOGFILE="$BACKUPDIR/sitebackup-$DATE.log"

echo "start" - $TIME >> $LOGFILE

SITELIST=( `cat "$CFG_FILE" `)

for SITECFG in "${SITELIST[@]}"
do
#echo $SITECFG
    set -- `echo $SITECFG | tr '=' ' '`
    SITE=$1
    SITEFOLDER=$2
    #echo "site=$1"
    #echo "Folder=$2"
    echo "Doing Backup for $SITE" - $TIME >> $LOGFILE
    # Check if $DIRECTORY doesn't exist
    if [ ! -d "$BACKUPDIR/$SITE" ]; then
      mkdir $BACKUPDIR/$SITE
    fi
    # Take a copy of the site
    echo "Copying $SITEFOLDER" - $TIME >> $LOGFILE
##    rsync -azr --include=".htaccess" --exclude-from="$SCRIPTFOLDER/$EXFILE"  $SRCFOLDER/$SITEFOLDER $BACKUPDIR/$SITE/$SITE-$DATE
     rsync -rptgovzl --del --include=".htaccess" --exclude-from="$SCRIPTFOLDER/$EXFILE" $SITEFOLDER $BACKUPDIR/$SITE/$SITE-SYNC
     echo "Archiving $SITE" - $TIME >> $LOGFILE

     tar -cf $BACKUPDIR/$SITE/$SITE-$DATE-backup.tar  $BACKUPDIR/$SITE/$SITE-SYNC
     gzip -9f $BACKUPDIR/$SITE/$SITE-$DATE-backup.tar

     # keep the latest
     echo "Copying the latest for $SITE" - $TIME >> $LOGFILE
     rm -f $BACKUPDIR/latest/$SITE-latestsitefiles.tar.gz
     cp $BACKUPDIR/$SITE/$SITE-$DATE-backup.tar.gz $BACKUPDIR/latest/$SITE-latestsitefiles.tar.gz

{% if s3_push_backup %}
     #push to s3
     s3cmd put --acl-private -c /home/{{ s3_sync_cron_user }}/.s3cfg $BACKUPDIR/$SITE/$SITE-$DATE-backup.tar.gz  s3://{{ s3cmd_bucket_name }}/sites/$SITE/
{% endif %}

  # delete the rsync copy
  #   rm -rf  $BACKUPDIR/$SITE/$SITE-SYNC

  #keep only one month of files in the backup root
  echo "Looking for old files to delete" - $TIME >> $LOGFILE
  #find $BACKUPDIR/$SITE -maxdepth 1 -mtime +30  -type f -name "$SITE-*.gz" -print0 -exec rm {} \; | xargs -0 ls -la >> $LOGFILE
  #find $BACKUPDIR/$SITE -maxdepth 1 -mtime +30  -type f -name "$SITE-*.gz" -print0 -exec rm -vf {} \;  >> $LOGFILE
  find $BACKUPDIR/$SITE -maxdepth 1 -mtime +30  -type f -name "$SITE-*.gz" -exec rm -vf {} \; -ls >> $LOGFILE>&1




done

#push off site to back location
echo "starting to push files off site" - $TIME >> $LOGFILE
{% if (proj_backup_ofs_type == 'hetzner') or (proj_backup_ofs_type == 'both') %}
sftp -b $SCRIPTFOLDER/$PUSHFILE {{backup_username}}@{{backup_sftp}}
{% endif %}
echo "end" - $TIME >> $LOGFILE

echo "Looking for old log files to delete" - $TIME >> $LOGFILE
find $BACKUPDIR -maxdepth 1 -mtime +30  -type f -name "sitebackup-*.log" -exec rm -vf {} \; -ls >> $LOGFILE>&1


if [[ $VERBOSITY -gt 0 ]]; then
  echo "Emailing logfile to {{ backuplog_to_email }}" - $TIME >> $LOGFILE
  cat $LOGFILE | mail -s "Sites Backup log for {{ inventory_hostname }}" {{ backuplog_to_email }}
fi
{% if healthcheck_monitor.files_backup.enabled %}
echo "Pinging Healthcheck.io" - $TIME >> $LOGFILE
curl --retry 3 {{ healthcheck_monitor.files_backup.url }}/{{ healthcheck_monitor.files_backup.key }}
{% endif %}
