# Cron job to run site files backup
PATH=$PATH:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin
{{ '#'  if site_files_backup_cron_disabled else '' }}15 4 * * * root {{ site_files_backup_scripts_folder }}/sitebackup.sh >> {{ site_files_backup_log }} 2>&1
