# Cron job to run site cron for {{ site_name }}
PATH=$PATH:/usr/local/bin
{% for job in s3sync_jobs %}
{{ job.cron_status }}{{ job.cron_schedule }} {{ s3_sync_cron_user }} {{ proj_site_root }}/scripts/s3sync-{{ proj_short_name }}-{{ proj_site_suffix }}-{{ job.name|replace(' ', '_') }} >>{{ s3sync_cron_logfile }} 2>&1
{% endfor %}