#!/bin/bash
# Amazon s3 file backup/sync
# Author: Blue-Bag
# Version 1.0
# Original date: 2016-01-28
# {{ ansible_managed }}

# remember to preserve the folder structure
{% macro includefile(vartype) %}
{% if vartype == 'exclude' %}--exclude-from={{ item.exclude_file }}{% endif %}
{% if vartype == 'include' %}--include-from={{ item.include_file }}{% endif %}
{%- endmacro -%}

s3cmd sync {{ s3sync_options | join(' ')}} {{ includefile('exclude') if item.exclude_file is defined else ''}} {{ includefile('include') if item.include_file is defined else ''}} {{ item.file_path }} s3://{{ s3cmd_bucket_name }}/{{ proj_short_name }}-{{ proj_site_suffix }}-{{ item.name|replace(' ', '_') }}/

